@import "./variables.css";

body {
  font-family: var(--content-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.header,
.ratings,
.cards {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*Header*/

.header {
  font-weight: var(--w-title);
  text-align: center;
}

.header__title {
  margin-top: 4.25rem;
  font-size: 2rem;
  color: var(--main-color);
}

.header__description {
  margin-top: 0;
  font-size: 0.9rem;
  color: var(--dark-magenta);
}

/*Ratings*/

.ratings__rating {
  background-color: var(--light-magenta);
  color: var(--main-color);
  font-weight: var(--w-title);
  width: calc(100vw - 6.25rem);

  padding: 1.25rem;
  margin: 0.4rem 2rem;
  border-radius: 0.4rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.ratings__stars {
  margin-bottom: 0.75rem;
}

/*Cards*/

.cards {
  margin-top: 1.75rem;
}

.card__card {
  background-color: var(--main-color);
  padding: 2rem;
  margin: 0.5rem;
  color: var(--white);

  width: calc(100vw - 6.25rem);
  height: 8rem;

  border-radius: 0.85rem;
}

.card__header {
  margin-bottom: 1.25rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__logo {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 100%;

  margin-right: 1.35rem;
}

.card__name {
  font-weight: var(--w-text);
  line-height: 0;
}

.card__desc {
  line-height: 0;
  color: var(--sec-color);
}

.card__opinion {
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
}

/*Desktop*/

@media screen and (min-width: 900px) {
	.container {
		padding: 0 6.25rem;
		margin-top: 3rem;
	}

  .intro {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
  }

  .header, .ratings {
    width: 50vw;
  }

  .ratings__rating {
    max-width: 35vw;
  }

  /*Header*/

  .header__title {
	  font-size: 3rem;
	  text-align: left;
	  margin-bottom: 1.2rem;
  }

  .header__description {
	  text-align: left;
	  font-weight: var(--w-text);
  }

  /*Ratigns*/

  .first-rating{
	  align-self: flex-start;
  }

  .last-rating {
	  align-self: flex-end;
  }

  .ratings__rating {
	  flex-direction: row;
	  margin: 0.4rem 0;
  }

  .ratings__stars {
	margin-right: 0.35rem;
	margin-bottom: 0;
  }

  /*Cards*/

  .cards{
	  flex-direction: row;
	  height: 40vh;
  }

  .card__card {
	  border-radius: 0.25rem;
  }

  .card__card:nth-child(1){
	  align-self: flex-start;
  }

  .card__card:nth-child(2){
	  align-self: center;
  }

  .card__card:nth-child(3){
	  align-self: flex-end;
  }
}
